# MongoDB URI
MONGODB_URI=mongodb://localhost:27017/khelopatna

# Microservice Port
PORT=5002

# WhatsApp Client
WHATSAPP_ENABLED=true

# Cashfree API (optional; for bot payment links generator)
CASHFREE_APP_ID=
CASHFREE_SECRET_KEY=
CASHFREE_ENV=sandbox
